<ion-content padding class="background">

  <h1 class="naslov" color = "light">
    TRAVEL APP
  </h1>

  <ion-card class="nesto">

    <ion-card-header class="header">
      Login
    </ion-card-header>

    <ion-card-content >




      <ion-list no-lines class="pp">

        
          <ion-item color="Light">
            <ion-label position="floating">Username</ion-label>
            <ion-input class="inp" type="text" [(ngModel)]="username" value="isndu"></ion-input>
          </ion-item>

          <ion-item color="Light">
            <ion-label position="floating">Password</ion-label>
            <ion-input class="aa" type={{type}} [(ngModel)]="password"></ion-input>
           
              <ion-icon class="hide-option" (click)="toggleShow()" name="eye-outline"></ion-icon>
          
          </ion-item>

      </ion-list>
    </ion-card-content>

    <div class="ion-text-center">
      <ion-spinner color="primary" *ngIf="isLoading"></ion-spinner>
    </div>

  </ion-card>
  <ion-button fill="solid" color="primary" expand="block" (click)="login()" *ngIf="!isLoading">Login</ion-button> 
  <ion-button width ="3em" fill="solid" ion-left expand="block" color="primary" (click)="register()" routerLink="/register">Sign up</ion-button>
</ion-content>