<ion-header>
  <ion-toolbar>
    <ion-title>Upload image</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>


  <!-- <div style="padding-top: 200px">
    <button (click)="addTextarea()">Add Textarea</button>
    <form>
        <div *ngFor="let textarea of textAreasList; let textarea_index= index">
            <textarea name="{{textarea}}"></textarea>
            <button (click)="removeTextArea(textarea_index)">Remove</button>
        </div>
    </form>
  </div> -->

  <!-- <app-loading *ngIf="!busy"></app-loading> -->

  <!-- <div class="camera"></div> -->
  <!-- <div class="center" *ngIf="!busy"> -->
    <input type="file" *ngIf="!imageURL" (change)="fileChanged($event)" class="filebtn" #fileButton />

    <ion-button shape="round" color="primary" (click)="uploadFile()" *ngIf="!imageURL" fill="outline">Upload File
    </ion-button>
    <ion-card *ngIf="imageURL">
      <img src="https://ucarecdn.com/{{imageURL}}/" />
      <ion-card-content>
        <ion-textarea placeholder="Enter some description" [(ngModel)]="desc"></ion-textarea>

        <ion-button shape="round" color="primary" (click)="createPost()">POST</ion-button>
      
      </ion-card-content>
    </ion-card>
  <!-- </div> -->
    

</ion-content>