<ion-app>
  <!-- <ion-menu side="start" content-id = "main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content id="content">
      <ion-list>
        <ion-item>Edit profile</ion-item>
        <ion-item>Logout</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet>id="main"</ion-router-outlet> -->

  <ion-menu class="menu_main" side="start" content-id="content" >
    <ion-header>
        <ion-toolbar color="primary">
            <ion-title>Menu</ion-title>
        </ion-toolbar>
    </ion-header>
<ion-content id="content">
 <ion-card>
  <ion-list lines = "none">
  <ion-menu-toggle>
    <ion-item > <ion-button size = "large" class = "btn"></ion-button> <p class="txt">Edit profile</p> </ion-item>
  </ion-menu-toggle>
    <ion-menu-toggle>
   
      <div class="ion-text-center">
        <ion-spinner color="white" *ngIf="isLoading"></ion-spinner>
      </div>
      <ion-item> <ion-button  ion-item (click)="logout()" *ngIf="!isLoading" size = "large" class="btn"></ion-button> <p class="txt">Logout</p> </ion-item>
      <!-- <ion-button color='light' ion-item (click)="logout()" *ngIf="!isLoading">Logout</ion-button> -->
    
  </ion-menu-toggle>
  </ion-list>
</ion-card>
</ion-content>
</ion-menu>
<ion-router-outlet>id="content"</ion-router-outlet>
</ion-app>
