page-profile{
    background: url(../../assets/a.jpg) no-repeat top center/cover fixed, #fff;
}

.card {
    margin: 0 auto;

    .header {
        height: 200px;

        .avatar {
            width: 160px;
            height: 160px;
            position: relative;
            margin: 0 auto;

            img {
                height: 160px;
                display: block;
                border-radius: 50%;
                position: absolute;
                bottom: calc(-1*(80px + 4px));
                margin-bottom: 50px;
                border: 8px solid #9Dc912;
                background-color: #fff;
            }
        }
    }
}

.edit{
    width: 15em;
    margin:0 auto ;
    padding-bottom: 7px;
}
.bnt-slika{
    width: 170px;
    height: 200px;

    background: center;
}
.filebtn{
    opacity: 0;
    position: absoulte;
    top:-100em;
    left:-100em;
}