
<ion-content padding class="background">
  <h1 class="naslov">
    TRAVEL APP
  </h1>

  <ion-card class="nesto">

    <ion-card-header class="header">
      Register
    </ion-card-header>

    <ion-card-content >
      <ion-list no-lines class="pp">
        <ion-item color="Light">
          <ion-label  position="floating">Username</ion-label>
          <ion-input type="text" [(ngModel)]="username"></ion-input>
        </ion-item>

        <ion-item color="Light">
          <ion-label  position="floating">Password</ion-label>
          <ion-input  type="password" [(ngModel)]="password"></ion-input>
        </ion-item>

        <ion-item color="Light" >
          <ion-label position="floating" >Confirm password</ion-label>
          <ion-input type="password" [(ngModel)]="cpassword"></ion-input>
        </ion-item>



      </ion-list>
    </ion-card-content>

  </ion-card>


  <ion-button width ="3em"fill="solid" ion-left expand="block" color="primary" (click)="register()">Sign up</ion-button>
</ion-content>